body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.container {
  /* border: 5px solid #ffcc5c; */
  display: flex;

  justify-content: center;
  align-items: center;
}

.container > div {
  flex: 1;
  /*flex-grow, flex-shrink, flex-basis */
}

.container > .search {
  flex: 1;
}

.blog-paragraph {
  text-align: center;
  color: #333;
  max-width: 1536px;
  width: 800px;
  font-family: "Inter", sans-serif;
  font-weight: regular;
  font-size: 24px;
  word-spacing: 2px;
  flex: 0 0 120px;
  display: block;
  line-height: 1.58em;
  letter-spacing: 0.004em;
  margin: 0 0 24px;
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: -0.46em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h2 {
  font-size: 180px;
}
